# Retail Sales Analytics using MySQL & Python

### Objective
Demonstrate an end-to-end data analytics workflow by ingesting retail transaction data
into a MySQL database, performing SQL-based analysis, and visualizing business insights
using Python.

In [1]:
import pandas as pd
import mysql.connector
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_style("whitegrid")

In [2]:
conn = mysql.connector.connect(
    host="localhost",
    user=input("MySQL Username: "),
    password=input("MySQL Password: "),
    database="retail_db"
)

MySQL Username:  tgurley1
MySQL Password:  Tg?00866801

In [3]:
query = "SELECT COUNT(*) AS row_count FROM retail_sales;"
pd.read_sql(query, conn)

C:\Users\solan\AppData\Local\Temp\ipykernel_26928\3801080831.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql(query, conn)

   row_count
0     406829

## How does revenue trend over time?

In [ ]:
query = """
SELECT 
    DATE_FORMAT(InvoiceDate, '%Y-%m') AS Month,
    ROUND(SUM(Revenue), 2) AS MonthlyRevenue
FROM retail_sales
GROUP BY Month
ORDER BY Month;
"""

monthly_revenue = pd.read_sql(query, conn)
monthly_revenue.head()

In [ ]:
plt.figure(figsize=(10,5))
plt.plot(monthly_revenue["Month"], monthly_revenue["MonthlyRevenue"])
plt.xticks(rotation=45)
plt.title("Monthly Revenue Trend")
plt.xlabel("Month")
plt.ylabel("Revenue")
plt.tight_layout()
plt.show()

**Insight:**  
Revenue displays clear seasonality, with noticeable growth toward the end of the year.
This suggests opportunities for targeted promotions and inventory planning during peak months.

## What countries generate the most revenue?

In [ ]:
query = """
SELECT Country, ROUND(SUM(Revenue), 2) AS TotalRevenue
FROM retail_sales
GROUP BY Country
ORDER BY TotalRevenue DESC
LIMIT 10;
"""

top_countries = pd.read_sql(query, conn)
top_countries

In [ ]:
plt.figure(figsize=(8,5))
sns.barplot(
    data=top_countries,
    x="TotalRevenue",
    y="Country"
)
plt.title("Top 10 Revenue-Generating Countries")
plt.xlabel("Revenue")
plt.ylabel("Country")
plt.tight_layout()
plt.show()

**Insight:**  
Revenue is heavily concentrated in a small number of countries, led by the UK.
This indicates both strong regional performance and potential expansion opportunities
in underrepresented markets.

## Who are the highest value customers?

In [ ]:
query = """
SELECT CustomerID, ROUND(SUM(Revenue), 2) AS TotalSpent
FROM retail_sales
GROUP BY CustomerID
ORDER BY TotalSpent DESC
LIMIT 10;
"""

top_customers = pd.read_sql(query, conn)
top_customers

In [ ]:
plt.figure(figsize=(8,5))
sns.barplot(
    data=top_customers,
    x="TotalSpent",
    y="CustomerID",
    orient="h"
)
plt.title("Top 10 Customers by Total Spend")
plt.xlabel("Total Spend")
plt.ylabel("Customer ID")
plt.tight_layout()
plt.show()

**Insight:**  
A small subset of customers accounts for a disproportionate share of revenue.
Retaining these high-value customers could significantly impact overall profitability.

In [ ]:
conn.close()

## Summary & Takeaways

- Successfully built an end-to-end analytics pipeline using Python and MySQL
- Identified seasonal revenue patterns and geographic concentration
- Highlighted the impact of high-value customers on total revenue

This type of rapid exploratory analysis mirrors the workflow commonly used in
data consulting engagements to quickly generate actionable insights for clients.